---
layout: page
title: "Tools"
description: "Collection of useful tools"
header-img: "img/tag-bg-o.jpg"
---

{% for page in site.pages %}
    {% assign url_check = page.url | remove: 'index.html' %}
    {% if url_check contains '/tools/' and url_check != '/tools/' %}
        <div class="post-preview">
            <a href="{{ page.url | prepend: site.baseurl }}" target="_blank">
                <h2 class="post-title">
                    {{ page.title }}
                </h2>
                {% if page.description %}
                <h3 class="post-subtitle">
                    {{ page.description }}
                </h3>
                {% endif %}
            </a>
        </div>
        <hr>
    {% endif %}
{% endfor %}
